*{
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #3D087B;
}
.big-container{
    display: flex;
    justify-content: space-between ;
    width: 80%;
    height: 550px;
    margin: auto;
    margin-top: 50px;
}

/* Left-Right container CSS */

.small-conatiner{
    width: 48%;
    height: 550px;
}

.clock-logo{
    margin-bottom: 40px;
}

/* set container CSS in left container */

.set-container{
    background-color: white;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin: 20px auto ;
}

/* Set time CSS in set-container in left container  */

.set-time{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    height: 80px;
}

/* SVG Images for set container */

.wake-up-pic{
    width: 15%;
    height: inherit;
    background-image: url(./Assets/wake_up.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.lunch-pic{
    width: 15%;
    height: inherit;
    background-image: url(./Assets/lunch_time.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.nap-pic{
    width: 15%;
    height: inherit;
    background-image: url(./Assets/nap_time.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Text and Drop Down CSS in Set-Container */

.label-text{
    font-weight: bold;
    font-size: 15px;
    width: 40%;
    color: #3D087B;
}

.select-time{
    font-weight: bold;
    color: #3D087B;
    border-color:#EDEDED;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    color: #3D087B;
    outline: none;
    margin-right: 20px;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}

/* Set time button CSS */

.btn{
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #8E53F0,#FC5EFF);
    width: 250px;
    height: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn:hover {
    background-image: linear-gradient(to left, #8E53F0,#FC5EFF);
}

/* Right-container CSS */

#right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.digital-clock{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    font-family: 'Barlow', sans-serif;
} 

.digital-clock-bg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100px;
    border-radius: 10px;
} 

.time-text{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 20px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    color: #3D087B;
}

.timline-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("./Assets/timeline.svg");
    width: 70px;
    height: 70px;
    font-size: 15px;
    color: #9140B5;
    font-weight: bold;
    padding: 5px;
}

.colon{
    font-size: 50px;
    color: #9140B5;
}

.time-digit{
    font-size: 30px;
}

.am-pm{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-image: url("./Assets/AM_svg.svg");
    font-size: 30px;
    color: white;
    width: 70px;
    height: 70px;
}

.digital-clock-bg1{
    background-color: white;
    width: 80%;
    height: 100px;
    border-radius: 10px;
    z-index: -1;
    position: relative;
    bottom: 90px;
    opacity: 80%;
    margin: auto;
}
.digital-clock-bg2{
    background-color: white;
    width: 75%;
    height: 100px;
    border-radius: 10px;
    z-index: -2;
    position: relative;
    bottom: 180px;
    opacity: 50%;
    margin: auto;
}

/* Text container  */

.right-bottom-container{
    background-color: white;
    background-image: linear-gradient(white);
    width: 100%;
    height: 100%;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
}
.right-text-container{
    width: inherit;
    height: 50px;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #8E53F0;
}
.line1{
    border: 1px solid #EDEDED;
    width: 40px;
    position: absolute;
    left: 160px;
    top: 265px;
    transform: rotate(90deg);
}
.line2{
    border: 1px solid #EDEDED;
    width: 40px;
    position: absolute;
    left: 160px;
    top: 343px;
    transform: rotate(90deg);
}
#dynamic-block{
    width: 100%;
    height: 80px;
    background-color:blueviolet;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
}
